<p id="notice"><%= notice %></p>

  <h1>Objective: <%= @objective.description; %></h1>

<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <strong>Year:</strong>
      <%= @objective.year %>
    </p>

    <p>
      <strong>Quarter:</strong>
      Q<%= @objective.quarter %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @objective.description %>
    </p>

    <p>
      <strong>Organization:</strong>
      <%= @objective.organization %>
    </p>

  </div>
</div>

<%= link_to 'New Key Result', new_key_result_path(:objective => @objective), class: "btn btn-primary" %>

<% @key_results.each do |key_result| %>
  <div class="page-header">
    <h2>
      Key result: <%= key_result.description %>
    </h2>
  </div>
  <div class="table-responsive">
    <table class="table table-striped" id="weekly-progress-table">
      <thead>
        <tr>
          <% @weeks.each do |week| %>
            <th>Week <%= week.cweek %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @weeks.each do |week| %>
            <td>
              <% if @progresses[key_result.id].key?(week.cweek) %>
                <% progress = @progresses[key_result.id][week.cweek] %>
                <% label = if progress.progress > 75 then "label-success" elsif progress.progress > 30 then "label-warning" else "label-danger" end %>
                <a href="<%= edit_weekly_progress_path(progress) %>">
                  <span class="label <%= label %>">Progress: <%= progress.progress %>%</span>
                </a>
              <% else %>
                <a href="<%= new_weekly_progress_path(:week => week.cweek, :year => @objective.year, :key_result => key_result) %>">
                  <span class="label label-default">Progress: --</span>
                </a>
              <% end %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

  <%= link_to 'Remove this key result', key_result, method: :delete, class: "btn btn-xs btn-default", data: { confirm: 'Are you sure?' } %>
<% end %>
