<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @objective.description %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @objective.organization %>
</p>

<%= link_to 'Edit', edit_objective_path(@objective) %> |
<%= link_to 'Back', objectives_path %>
