<p id="notice"><%= notice %></p>

<h1>Key Results</h1>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Objective</th>
      <th colspan="3" width="10%"></th>
    </tr>
  </thead>

  <tbody>
    <% @key_results.each do |key_result| %>
      <tr>
        <td><%= key_result.description %></td>
        <td><%= key_result.objective %></td>
        <td><%= link_to 'Show', key_result %></td>
        <td><%= link_to 'Edit', edit_key_result_path(key_result) %></td>
        <td><%= link_to 'Destroy', key_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Key Result', new_key_result_path, class: "btn btn-primary" %>
