<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @key_result.description %>
</p>

<p>
  <strong>Objective:</strong>
  <%= @key_result.objective %>
</p>

<%= link_to 'Edit', edit_key_result_path(@key_result) %> |
<%= link_to 'Back', key_results_path %>
