<p id="notice"><%= notice %></p>

<h1>Weekly Progresses</h1>

<table>
  <thead>
    <tr>
      <th>Key result</th>
      <th>Year</th>
      <th>Week</th>
      <th>Progress</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weekly_progresses.each do |weekly_progress| %>
      <tr>
        <td><%= weekly_progress.key_result %></td>
        <td><%= weekly_progress.year %></td>
        <td><%= weekly_progress.week %></td>
        <td><%= weekly_progress.progress %></td>
        <td><%= link_to 'Show', weekly_progress %></td>
        <td><%= link_to 'Edit', edit_weekly_progress_path(weekly_progress) %></td>
        <td><%= link_to 'Destroy', weekly_progress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weekly Progress', new_weekly_progress_path %>
