<p id="notice"><%= notice %></p>

<p>
  <strong>Key result:</strong>
  <%= @weekly_progress.key_result %>
</p>

<p>
  <strong>Year:</strong>
  <%= @weekly_progress.year %>
</p>

<p>
  <strong>Quarter:</strong>
  <%= @weekly_progress.week %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @weekly_progress.progress %>
</p>

<%= link_to 'Edit', edit_weekly_progress_path(@weekly_progress) %> |
<%= link_to 'Back', weekly_progresses_path %>
