<%= form_for(objective) do |f| %>
  <% if objective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(objective.errors.count, "error") %> prohibited this objective from being saved:</h2>

      <ul>
      <% objective.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :year %>
    <%= f.text_field :year, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :quarter %>
    <%= f.text_field :quarter, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :organization_id %>
    <%= collection_select(:objective, :organization_id, Organization.all, :id, :name, {prompt: true}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label "Parent objective" %>
    <%= collection_select(:objective, :objective_id, Objective.all, :id, :description, {prompt: "Leave blank for root objective"}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
